/* RESET */
body {
    margin: 0;
    font-family: 'Inter', sans-serif;
    background: #F4EFE9;
    color: #1a1a1a;
}

/* TYPO */
h1, h2 {
    font-family: 'Playfair Display', serif;
}

h2 {
    font-size: 26px;
    margin-bottom: 25px;
    position: relative;
}

h2::after {
    content: "";
    width: 50px;
    height: 3px;
    background: #C6A87D;
    position: absolute;
    left: 0;
    bottom: -10px;
    border-radius: 2px;
}

/* HERO */
.hero {
    height: 75vh;
    background: url('bild1.jpg') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}

.overlay {
    background: rgba(0,0,0,0.45);
    padding: 30px;
    border-radius: 12px;
}

button {
    margin-top: 15px;
    padding: 12px 24px;
    border: none;
    background: #C6A87D;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #b89663;
}

/* SECTION */
.section {
    padding: 50px 20px;
    max-width: 1000px;
    margin: auto;
}

/* SERVICES */
.services {
    display: grid;
    gap: 15px;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

/* REVIEWS */
.reviews {
    display: grid;
    gap: 20px;
}

.review {
    background: white;
    padding: 20px;
    border-radius: 12px;
    position: relative;
    font-style: italic;
    box-shadow: 0 10px 25px rgba(0,0,0,0.05);
    transition: 0.3s;
}

.review:hover {
    transform: translateY(-3px);
}

.review::before {
    content: "“";
    font-size: 50px;
    position: absolute;
    top: 5px;
    left: 15px;
    color: #C6A87D;
}

.stars {
    color: #C6A87D;
    margin-bottom: 10px;
    font-style: normal;
}

.author {
    margin-top: 12px;
    font-size: 14px;
    color: #777;
    font-style: normal;
}

/* GALLERY */
.gallery {
    display: grid;
    gap: 10px;
}

.gallery img {
    width: 100%;
    border-radius: 10px;
}

/* FOOTER */
footer {
    background: #1a1a1a;
    color: white;
    padding: 30px;
    text-align: center;
}

/* DESKTOP */
@media(min-width: 768px) {
    .services {
        grid-template-columns: repeat(3, 1fr);
    }

    .reviews {
        grid-template-columns: repeat(2, 1fr);
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}
